#include <winres.h>

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Zenith Open Source Projects"
            VALUE "FileDescription", "Project Kitty Themes Manager"
            VALUE "FileVersion", "1.0.0"
            VALUE "ProductName", "Project Kitty Themes"
            VALUE "ProductVersion", "1.0.0"
            VALUE "LegalCopyright", "Copyright Zenith Open Source Projects"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
